<header class="bar-title">
  <a class="button-prev" onclick="window.history.back()">Back</a>
  <h1 class="title">Photo</h1>
</header>
<div class="content">
  {{#if pictures}}
    <ul class="list-pictures">
      {{#pictures}}
      {{> helpers.picture_view}}
      {{/pictures}}
    </ul>
  {{/if}}
  {{#if likes}}
    {{> helpers.likes}}
  {{/if}}
  <div data-hull-id="{{comment_id}}" data-hull-widget="comments@hull" class="hull-comments-embed"></div>
</div>
