{{#if pictures}}
  <ul class="list-grid cf">
  {{#pictures}}
      <li>
          <a href="#/pictures/{{id}}" class="square_thumb">
              <img src="{{imageUrl id "square"}}" width="135" height="135" />
          </a>
      </li>
  {{/pictures}}
  </ul>
{{else}}
  <div class="empty-state">
    <i>&#9785;</i>
    <h3>No photos yet</h3>
  </div>
{{/if}}
