{{#if options.id}}
  {{#if following}}
  <button class="button button-positive" data-hull-action="toggleFollow">Unfollow</button>
  {{else}}
  <button class="button button-negative" data-hull-action="toggleFollow">Follow</button>
  {{/if}}
{{/if}}