<header class="bar-title">
  <h1 class="title">Feed</h1>
</header>
<div class="content">

  {{#if pictures}}
    <ul class="list-pictures">
    {{#pictures}}
      {{> helpers.picture_view}}
    {{/pictures}}
    </ul>
  {{else}}
    <div class="empty-state">
      <i>&#9785;</i>
      <h3>No photos yet</h3>
    </div>
  {{/if}}
</div>
