<header class="bar-title">
  <a class="button-prev" onclick="window.history.back()">
    Cancel
  </a>
  <h1 class="title">Publish</h1>
  <a class="button" href="#" data-hull-action="send">
    Send
  </a>
</header>
<div class="content">
  <div class="new-picture-placeholder">
    <img src="{{blob}}">
  </div>
  <div class="new-picture-description">
    <textarea id="picture-description" row="2" placeholder="Write something here"></textarea>
  </div>
  {{> helpers.notice}}
</div>
