<div class="list-likes media cf">
    <i class="icon-heart img"></i>
    <div class="bd">
        {{#csv likes}}<a href="#/profile/{{user.id}}">{{user.name}}</a>{{/csv}}
        like this.
    </div>
</div>