<header class="bar-title">
  <h1 class="title">Friends</h1>
</header>

{{!
  The content is delegated to the 'friends_list' widget distributed with hull-js
}}

<div class="content" data-hull-widget="friends_list@hull">
  <i class="icon-spinner icon-spin loading-spinner"></i>
</div>

{{> app.nav}}

