<header class="bar-title">
  <h1 class="title">Likes</h1>
</header>

{{!
  The content is delegated to the 'likes' widget.
}}
<div class="content" data-hull-widget="likes">
  <i class="icon-spinner icon-spin loading-spinner"></i>
</div>

{{> app/nav}}
