<div  data-hull-source_url="{{source_url}}"
      data-hull-blob="{{blob}}"
      data-hull-name="{{name}}"
      data-hull-widget="new_picture">
  <i class="icon-spinner icon-spin loading-spinner"></i>
</div>

