<header class="bar-title">
  {{#if id}}
  <a class="button-prev" onclick="window.history.back()">Back</a>
  {{else}}
  <h1 class="title">Feed</h1>
  {{/if}}
</header>
<div class="content" {{#if id}}data-hull-id="{{id}}"{{/if}} data-hull-widget="pictures">
  <i class="icon-spinner icon-spin loading-spinner"></i>
</div>
{{> app/nav}}
