<header class="bar-title">
  <a class="button-prev" data-hull-action="back">Back</a>
  <h1 class="title">Share</h1>
</header>
<div class="content" data-hull-id="{{id}}" data-hull-widget="share">
  <i class="icon-spinner icon-spin loading-spinner"></i>
</div>

{{> app.nav}}
