{{#friends}}
<header class="bar-title">
  <a class="button-prev" href="#" data-hull-action="backToFriendsList">
    Friends
  </a>
  <h1 class="title">
    {{name}}
  </h1>
</header>
<div data-hull-widget="profile" data-hull-id="{{id}}"></div>
{{/friends}}
