<a class="{{#if isLiked}}liked{{/if}}" data-hull-action="{{#if isLiked}}unlike{{else}}like{{/if}}">
  {{#if isLiked}}
    Unlike
  {{else}}
    Like
  {{/if}}
  <i class="icon-heart">
    {{likes}}
  </i>
</a>
