{{#if working}}
  <a class="liked">
    Loading...
  </a>
{{else}}
  {{#if liked}}
    <a data-hull-action="unlike" class="liked">
      Unlike
      <i class="icon-heart"> {{likes}} </i>
    </a>
  {{else}}
    <a data-hull-action="like">
      Like
      <i class="icon-heart"> {{likes}} </i>
    </a>
  {{/if}}
{{/if}}
