{{#if loggedIn}}

<div data-hull-widget="app"></div>

{{else}}

<section class="login">
  <div class="login-center">
    <h1 class="logo">Hullagram</h1>
    Insta-lolcats
  </div>
  <div class="login-bottom">
    <a class="button-main button-twitter button-block" data-hull-provider="twitter" data-hull-action="login">
      Login with Twitter
    </a>
  </div>
</section>

{{/if}}
