{{#pictures}}
  <div class="share-picture">

    <div class="media">
      <div class="img">
        <img src="{{imageUrl id "square"}}" alt="">
      </div>
      <div class="bd">
        <textarea id="share-description" rows="3" placeholder="Write something">{{description}}</textarea>
      </div>
    </div>

    <a class="button button-block button-share" data-hull-action="share" data-hull-network="twitter" data-hull-source-url="{{imageUrl id "medium"}}">
      <i class="icon-twitter"></i>
      Share on Twitter
    </a>

  </div>
{{/pictures}}
